.gallery{
    text-align: center;
}

.gallery img{
    transition: 1s;
    padding: 20px;
    width: 350px;
    display: inline-block;
}

.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}